<div id="homeContainer">
    <div class="whiteBorderGlassBox">
        <div class="homeHeadContainer">
            <div class="row">
                <div class="col-md-auto">
                    <div class="avatarFrameonline">
                        <img src="assets/img/generic_avatar.png" alt="avatar" id="homeAvatarPicture">
                    </div>
                </div>
                <div class="col">
                <b>Ericka</b>
                    <div>
                        <span>
                        Online
                        </span>
                        <br>
                        <span>
                        Escriba un mensaje personal
                        </span>
                        <br>
                        <a (click) = "logout()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="whiteContainerPadded margintop15">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Buscar Amigo" [(ngModel)]="query" />
            </div>
            <div class="col-md-auto">
                <img src="assets/img/logo_live_add.png" class="icon" alt="icon-add">
            </div>
        </div>
<!-- ng model toma una variable y cada vez que query cambie va cambiando. ng model hace actualización de dos vias -->
        <hr/>
        <b *ngIf = "friends">Amigos ({{friends.length}} / {{friends.length}})</b>

        <div *ngFor="let user of friends | search: query ; let i = index" class="disblo marbo5">
            <span routerLink = "/conversation/{{user.uid}}">
            <img class="icon" src="assets/img/logo_live_online.png" alt="live">
            <b>{{user.nick}}</b> - {{user.subnick || 'No subnick'}}
            <small>{{user.email}}</small>
            </span>
        </div>
    </div>
</div>
